DEBUG=1
SECRET_KEY=mysecrets
ENVIRONMENT=local
DATABASE_URL=postgresql://user:db_pass@172.17.0.1:20432/portaldb
SENDER_EMAIL=noreply@example.com
CLIENT_URL=http://localhost:3000
AMQP_URL=amqp://user:pass@rabbitmq:5672
RABBITMQ_URL=amqp://user:pass@rabbitmq:5672
SMTP_HOST=smtp-relay.sendinblue.com
EMAIL_HOST_USER=user@example.com
EMAIL_HOST_PASSWORD=password
TWILIO_ACCOUNT_SID=AC6f723a922754e202e6deb9c62e191152
TWILIO_AUTH_TOKEN=352bd406c0e9e50726a87a93095eecd2
TWILIO_PHONE_NUMBER=07821 634291